/* ==========================================================================
   Includes
   ========================================================================== */

@import "fonts";
@import "icons";

$breakpoint-phone:		30em;
$breakpoint-tablet:		50em;
$breakpoint-desktop:	70em;

$color-green-85: #36D995;
$color-green-72: #2DB77E;

$color-yellow-100:	#FFC336;

$color-gray-97: #F2F3F5;
$color-gray-90: #E1E2E6;
$color-gray-85: #D4D5D9;
$color-gray-65: #9D9FA6;
$color-gray-50: #737580;
$color-gray-40: #595B66;
$color-gray-25: #363740;
$color-gray-15: #1F2026;

/*
	Change the accent colors here. Make sure they work on light an dark
	backgrounds or as background color for light and dark text color
*/

$color-primary-default:		$color-green-85; /* Light */
$color-primary-active:		$color-green-72; /* Dark */


/* ==========================================================================
   Basics
   ========================================================================== */



body {
	font: 300 1em / 1.5em Junction,'Merriweather Sans', sans-serif;
	color: $color-gray-40;
}

::-moz-selection, ::selection {
	color: #222;
	background: #D6EDFF;
	text-shadow: none;
}
a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
	-webkit-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;

	&:hover,
	&:focus {
		color: $color-gray-15;
	}
}
.post-content a {
	border-bottom: 2px solid $color-primary-default;

	&:hover,
	&:focus {
		border-color: $color-primary-active;
	}
}


h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	color: $color-gray-15;

	a {
		font-weight: inherit;
	}
}

h1 {
	font-size: 2em;
	line-height: 1em;
	margin: 2em 0 -0.5em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.143em;
	margin: 2.286em 0 -0.571em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.334em;
	margin: 2em 0 -0.667em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.2em;
	margin: 2.4em 0 -0.8em;
}

p {
	margin: 2em auto;
}

ul {
	list-style: none;
}
li {
	position: relative;
}
ul > li:before,
ol > li:before {
	position: absolute;
	width: 2em;
	margin-left: -3em;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
	text-align: right;
	color: $color-gray-15;
}
ul > li:before {
	margin-top: 0.125em;
	content: '*';
}
ol {
	list-style-type: none;
	counter-reset: item;
}
ol > li:before {
	content: counter(item) ". " !important;
	counter-increment: item;
}

ol,
ul {
	padding-left: 3em;
	margin: 2em auto;

	ol,
	ul {
		padding-left: 1.5em;
		margin: 1em auto;
	}
}

dl {
	margin: 2em auto;

	dt {
		font-size: 0.875em;
		line-height: 1.143em;
		font-weight: 700;
		margin-bottom: 0.571em;
		color: $color-gray-15;
	}

	dd {
		margin-left: 1em;
		margin-bottom: 1.5em;
	}
}

hr {
	display: block;
	height: 1px;
	margin: 2em 0;
	padding: 0;
	background: $color-gray-90;
	border: 0;
}

blockquote {
	margin: 2em auto;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 0.25em solid $color-gray-85;
	font-style: italic;
	font-weight: 400;
	color: $color-gray-40;
	background: transparent;

	* {
		margin: 1em auto;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}


em, i {
	font-weight: 400;
	font-style: italic;
	color: $color-gray-25;
}
strong, b {
	font-weight: 700;
	color: $color-gray-25;
}

small {
	font-size: 0.9em;
}

mark {
	background-color: $color-yellow-100;
}

code,
tt {
	display: inline-block;
	position: relative;
	top: -1px;
	padding: 3px 6px;
	margin: -1px 2px;
	font-family: 'Inconsolata', monospace;
	font-size: 0.875em;
	line-height: 1.143em;
	color: #000;
	font-weight: 400;
	border-radius: 2px;
}

tt {
	background: $color-gray-90;
}

pre {
	margin: 2em auto;
	width: 100%;
	padding: 1em;
	font-family: 'Inconsolata', monospace;
	white-space: pre;
	overflow: auto;
	color: #fff;
	box-sizing: border-box;

	code,
	tt {
		position: static;
		top: auto;
		font-size: 1em;
		line-height: 1.5em;
		white-space: -moz-pre-wrap;
		white-space: pre-wrap;
		vertical-align: inherit;
		border: none;
		padding: 0;
		background: transparent;
	}
}

pre.codeblock {
	position: relative;
	padding: 1em;
	overflow: hidden;

	code {
		display: block;
		border: 0;
		padding-left: 4em;
		margin: -1.6em;
		white-space: inherit;
		overflow-x: scroll;
	}

	.lines {
		position: absolute;
		width: 3em;
		height: 100%;
		left: 0;
		top: 0;
		border-right: 1px solid $color-gray-85;
		font-size: 1em;
		line-height: 1.5em;
		text-align: right;
		box-sizing: border-box;
		user-select: none;
		cursor: default;
		background: $color-gray-97;


		.line {
			display: block;
			padding-right: 0.5em;
			  color: $color-gray-65;
		}
	}
}

kbd {
	display: inline-block;
	margin: 0 2px 4px;
	padding: 1px 8px;
	border: #ccc 1px solid;
	color: #666;
	text-shadow: #fff 0 1px 0;
	font-size: 0.875em;
	font-weight: bold;
	background: $color-gray-97;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}


table {
	width: 100%;
	max-width: 100%;
	margin: 2em 0;
	background-color: transparent;
	border: 1px solid $color-gray-90;
}

table th,
table td {
	position: relative;
	padding: 1em;
	line-height: 1em;
	text-align: left;
	border: 1px solid $color-gray-90;
}
table th {
	font-weight: 700;
	font-size: 0.75em;
	line-height: 1.334em;
	padding: 1.334em;
	color: $color-gray-15;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 2.5em auto;
}

iframe {
	margin: 2.5em auto;
}

.fluid-width-video-wrapper {
	margin: 2.5em auto;

	iframe {
		margin: auto;
	}
}


/* ==========================================================================
   Default
   ========================================================================== */

#nprogress {

	.bar {
		background: $color-primary-default !important;
		height: 3px !important;

		.peg {
			box-shadow: none !important;
		}
	}

	.spinner {
		display: none !important;
		top: 50% !important;
		right: 50% !important;

		.spinner-icon {
			width: 4em !important;
			height: 4em !important;
			margin: -4em -4em 0 0 !important;
			border-top-color: $color-primary-default !important;
			border-left-color: $color-primary-default !important;
		}
	}
}

body {
	background: #fff;
}

.menu-initial {

	body {
		transition:  all ease-out 0.3s;
		overflow: hidden;
	}
}

.menu-active {

	body {
		background: $color-gray-15;
	}
}


.inner {
	max-width: 48em;
	margin: 0 auto;
	padding: 0 1em;
}




#wrapper {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 6em;
	background: $color-gray-97;
}


.menu-initial {

	#wrapper {

	}
}

.menu-active {

	#wrapper {

	}
}

/* ==========================================================================
   Push Animations
   ========================================================================== */

@keyframes pushPrev {
	0% {
		transform: translate3d(0,0,0);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate3d(-150%,0,0);
		opacity: 0;
	}
}

@keyframes pushedPrev {
	0% {
		transform: translate3d(100%,0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes pushNext {
	0% {
		transform: translate3d(0,0,0);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate3d(150%,0,0);
		opacity: 0;
	}
}

@keyframes pushedNext {
	0% {
		transform: translate3d(-100%,0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

#push {
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;
}

.push-next {

	#push {
		animation: pushNext ease-in 0.5s forwards !important;
	}
}

.pushed-next {

	#push {
		animation: pushedNext ease-out 0.5s forwards;
	}
}

.push-prev {

	#push {
		animation: pushPrev ease-in 0.5s forwards !important;
	}
}

.pushed-prev {
	#push {
		animation: pushedPrev ease-out 0.5s forwards;
	}
}



/* ==========================================================================
   Navigation
   ========================================================================== */

#nav {
	position: relative;
	background: transparent; 
	z-index: 70;
	transition: all ease-out 0.4s;
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	i {
		color: white;
	}

	.nav-logo {
		float: left;
		height: 2em;
		padding: 1em;
		max-width: 50%;

		img {
			width: auto;
			max-width: none;
			height: 2em;
			margin: 0;
			border-radius: 5px;
		}

		.name {
			display: block;
			line-height: 2em;
			font-weight: 800;
			color: $color-gray-25;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.logo-img {
			float:left;
		}

		.logo-name {
			float:right;
			color: white;
			padding: 0 0 0 1em;
		}
	}

	.nav-menu {
		float: right;

		&:after {
			clear: both;
			content: '';
			display: table;
		}

		a {
			display: block;
			width: 1em;
			height: 1em;
			line-height: 1em;
			padding: 1.5em;
			text-align: center;
			float: left;
			cursor: pointer;

			&:hover,
			&:focus {
				background: $color-gray-90;
			}

			i:before {
				margin: auto;
			}
		}

		.rss {}

		.menu {}
	}
}

.loading {

	#nav {
		transform: translate3d(0,-100%,0);
		opacity: 0;
	}
}

#menu, #tocMenu {
	display: none;
	position: fixed;
	left: 50%;
	top: 5%;
	width: 30em;
	height: 90%;
	margin-left: -15em;
	background: transparent;
	box-sizing: border-box;
	padding: 3em 0 0;
	overflow: hidden;
	transition: all ease-out 0.3s;
	transform: translate3d(0,2em,0);
	transform-style: preserve-3d;
	opacity: 0;
	z-index: 100;

	@media only screen and (max-width: $breakpoint-tablet) {
		width: 90%;
		left: 5%;
		margin-left: auto;
	}

	&.initial {
		display: block;
	}

	&.active {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

	.menu-header {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 3.5em;
		padding: 1em 1.5em 0.5em;
		margin-bottom: 1em;
		line-height: 2em;
		z-index: 110;
		box-sizing: border-box;
		background: #fff;

		&:before {
			content: '';
			position: absolute;
			left: -5%;
			bottom: -1em;
			width: 110%;
			height: 2em;
			background: #fff;
			border-bottom: 4px solid $color-primary-default;
			box-shadow: 0 0.125em 0.125em rgba(0,0,0,0.1);
			transform: rotate(2.5deg);
			transition: all ease-out 0.2s;
			z-index: 115;
		}

		&:after {
			clear: both;
			content: '';
			display: table;
		}

		.menu-label {
			position: relative;
			display: block;
			float: left;
			z-index: 120;
		}

		.menu-close {
			position: relative;
			display: block;
			float: right;
			width: 2em;
			height: 2em;
			padding: 1em;
			margin: -1em -1.5em -1em 0;
			cursor: pointer;
			z-index: 125;

			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				background: $color-gray-65;
				transform: rotate(45deg);
			}

			&:hover,
			&:focus {

				&:after,
				&:before {
					background: $color-gray-50;
				}
			}

			&:after {
				width: 2px;
				height: 1em;
				margin: -0.5em 0 0 -1px;
			}
			&:before {
				width: 1em;
				height: 2px;
				margin: -1px 0 0 -0.5em;
			}
		}
	}

	.menu-list {
		position: relative;
		list-style: none;
		margin: 0;
		padding: 2em 0;
		height: 100%;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: scroll;
		background: #fff;

		.menu-list-item {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 1.5em;
				top: 0;
				width: 100%;
				border-top: 1px solid $color-gray-90;
			}

			&:first-child {

				&:after {
					display: none;
				}
			}

			a {
				position: relative;
				display: block;
				padding: 1em 1.5em;
				font-weight: inherit;
				font-weight: 400;

				&:hover,
				&:focus {
					background: $color-gray-90;
				}

				&.current {
					font-weight: 700;
					color: $color-gray-25;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						border-left: 4px solid $color-primary-default;
					}
				}
			}
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 80;
	display: none;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $color-gray-15;
		opacity: 0;
		transition: all ease-out 0.3s;
		transform-style: preserve-3d;
	}
}

.menu-initial {

	.overlay {
		display: block;
	}
}

.menu-active {

	.overlay:before {
		opacity: 0.9;
	}
}


/* ==========================================================================
   Header
   ========================================================================== */

#header {
	background-image: url("http://res.cloudinary.com/geeknride/image/upload/v1506863621/banner01_njikuf.jpg");
	background-size: cover !important;
	background-repeat: no-repeat;
	position: relative;
	padding: 0 0 45% 0;

	.inner {
		position: relative;
		z-index: 2;
	}

	.header-title {
		display: block;
		text-align: center;
		opacity: transparent;
	}

	.header-name {
		font-family: monospace;
		font-weight: 700;
		letter-spacing: -1px;
		display: block;
		line-height: 1em;
		font-size: 2em;
		text-decoration: none;
		color: $color-gray-15;
		padding: 0;
		margin: 0;

		em {
			font-family: 'Helvetica Neue', sans-serif;
			position: relative;
			top: -0.334em;
			margin-left: -0.25em;
			display: inline-block;
			width: auto;
			min-width: 0.5em;
			height: 1.5em;
			padding: 0 0.5em;
			line-height: 1.5em;
			font-style: normal;
			font-weight: 400;
			font-size: 0.5em;
			background: $color-primary-default;
			color: #fff;
			text-shadow: 0 0 2px $color-primary-active;
			border-radius: 2em;
		}
	}

	&.has-cover {

		.header-name {
			color: #fff;
		}
	}

	.header-description {
		display: block;
		margin: 1em auto 0;
		color: $color-gray-65;
		position: relative;
		font-weight: 300;

		&:after {
			content: '';
			position: absolute;
			height: 1px;
			width: 100px;
			margin-left: -50px;
			left: 50%;
			top: -0.5em;
			background: $color-gray-85;
		}
	}

	&.has-cover {

		.header-description {
			color: #fff;

			&:after {
				background: #fff;
			}
		}
	}


	.header-image {
		width: 3em;
		height: 3em;
		margin: -1em auto 1em;
		overflow: hidden;
		border-radius: 3em;
		border: 2px solid $color-primary-default;
		background: $color-primary-active;

		img {
			width: 100%;
			margin: auto;
		}
	}

	&.has-cover {

		.header-image {
			border-color: #fff;
		}
	}

	.header-meta {
		display: block;
		margin: 1.334em auto -1.334em;
		color: $color-gray-65;
		position: relative;
		font-weight: 300;
		 font-size: 0.75em;
		 line-height: 1.334em;

		span {
			font-weight: 400;
			color: $color-gray-40;
			margin-right: 1em;

			a {
				color: inherit;
				text-decoration: none;
			}

			i {
				color: $color-gray-65;
			}
		}

	}

	&.has-cover {

		.header-meta {
			color: #fff;

			span {
				color: #fff;

				i {
					color: #fff;
					opacity: 0.5;
				}
			}
		}
	}

	.header-cover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin-top: -4em;
		padding: 4em 0;
		background: no-repeat fixed center 100% / cover;
		z-index: 1;

		 &:before {
			  content: '';
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  left: 0;
			  top: 0;
			background: rgba(0,0,0,0.2);
		 }

		 &:after {
			  content: '';
			  position: absolute;
			  width: 100%;
			  left: 0;
			  bottom: 0;
			border-bottom: 4px solid $color-primary-default;
		 }
	}
}


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 0.75em;
	line-height: 1.334em;
	background: $color-gray-15;
	color: $color-gray-50;
	z-index: 20;
	transition: all ease-out 0.4s;
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;

	a {
		color: $color-gray-65;
		font-weight: 400;
	}

	.credits {
		text-align: center;
		font-size: 0.75em;
		line-height: 1.334em;
		padding: 2.667em;
		overflow: auto;

		span {
			display: block;
		}

		.credits-theme {
			float: left;
		}
		.credits-software {
			float: right;
		}
	}
}

.loading {

	#footer {
		transform: translate3d(0,100%,0);
		opacity: 0;
	}
}

/* ==========================================================================
   Post
   ========================================================================== */

.post {
	position: relative;
	z-index: 20;

	.post-image {
		display: block;
		margin: 0;
		padding: 0;

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}
	}

	.post-meta {
		display: block;
		font-size: 0.75em;
		line-height: 1.334em;
		font-weight: 400;
		margin-bottom: 1.334em;

		a {
			color: inherit;
			text-decoration: none;

			border-bottom: 1px solid rgba(0,0,0,0.2);

			&:hover,
			&:focus {
				border-bottom-color: rgba(0,0,0,0.4);
			}
		}
	}

	.post-title {
		position: relative;
		color: #000;
		font-size: 2em;
		line-height: 1.375em;
		font-weight: 800;
		text-indent: -1px;
		margin: 0.25em 0 0.75em;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.334em;
			width: 1em;
			margin-bottom: -2px;
			border-bottom: 4px solid $color-primary-default;
		}

		a {
			text-decoration: none;
			color: inherit;
			font-weight: inherit;
		}
	}

	.post-header {
		padding: 4em 0 0;
		margin-bottom: 3em;
	}
}


/* ==========================================================================
   Index
   ========================================================================== */

#post-index {
	position: relative;
	max-width: 1200px;
	margin: 0 auto 4em;
	padding: 0.5em;
	z-index: 10;
}

@keyframes fade {
	0% {
		transform: translate3d(0,3em,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.post-list {
	position: relative;

	.post {
		float: left;
		width: 33.30%;

		@media only screen and (max-width: $breakpoint-tablet) {
			width: 49.90%;
		}

		@media only screen and (max-width: $breakpoint-phone) {
			width: 100%;
			float: none;
		}

		transform: translate3d(0,3em,0);
		transform-style: preserve-3d;
		opacity: 0;

		animation: fade ease-out 0.5s forwards;
		animation-delay: 1.4s;

		&.initial {
			z-index: 25;

			.inner {
				transition: all ease-in 0.5s;
			}
		}

		&.active {

			.inner {
				transform: scale(1.5);
			}
		}

		&:nth-child(1) {
			animation-delay: 0.1s;
		}
		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.3s;
		}
		&:nth-child(4) {
			animation-delay: 0.4s;
		}
		&:nth-child(5) {
			animation-delay: 0.5s;
		}
		&:nth-child(6) {
			animation-delay: 0.6s;
		}
		&:nth-child(7) {
			animation-delay: 0.7s;
		}
		&:nth-child(8) {
			animation-delay: 0.8s;
		}
		&:nth-child(9) {
			animation-delay: 0.9s;
		}
		&:nth-child(10) {
			animation-delay: 1.0s;
		}
		&:nth-child(11) {
			animation-delay: 1.1s;
		}
		&:nth-child(12) {
			animation-delay: 1.2s;
		}

		&.post.featured {

			.inner {
				background: $color-gray-15;
				color: $color-gray-65;

				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					width: 0;
					height: 0;
					border-right: 3em solid $color-yellow-100;
					border-bottom: 3em solid transparent;
					z-index: 1;
				}

				&:before {
					font-family: "icons";
					content: '\e800';
					position: absolute;
					right: 0;
					top: 0;
					width: 1.75em;
					height: 1.75em;
					line-height: 2em;
					text-align: center;
					color: $color-gray-15;
					z-index: 2;
				}
			}

			.post-image {

				&:after {
					background: $color-gray-15;
					bottom: -2.5em;
					height: 5em;
				}
			}

			.post-title {
				color: #fff;
			}

			.post-more a {
				color: #fff;
			}
		}

		.inner {
			padding: 2em;
			margin: 0.5em;
			max-width: none;
			background: #fff;
			box-sizing: border-box;
			transition: all ease-out 0.2s;
			transform: scale(1);
			transform-style: preserve-3d;

			@media only screen and (max-width: $breakpoint-tablet) {
				padding: 1em;
			}
		}

		.post-link {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}

		.post-image {
			position: relative;
			margin: -2em -1.99em 0;
			overflow: hidden;
			background: $color-primary-default;

			@media only screen and (max-width: $breakpoint-tablet) {
				margin: -1em -1em 0;
			}

			img {
				transition: all ease-out 0.3s;
				transform: scale(1);
				transform-style: preserve-3d;
				opacity: 1;
			}

			&:after {
				content: '';
				position: absolute;
				left: -5%;
				bottom: -2.5em;
				width: 110%;
				height: 4em;
				background: #fff;
				border-top: 4px solid $color-primary-default;
				box-shadow: 0 0 2em rgba(0,0,0,0.2);
				transform: rotate(5deg);
				transition: all ease-out 0.2s;
			}
		}

		&:hover,
		&:focus {

			.inner {
				box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.05), 0 8px 48px rgba(0,0,0,0.1);
			}

			.post-image {

				img {
					transform: scale(1.05);
					opacity: 0.5;
				}

				&:after {
					border-top-width: 0;
					box-shadow: none;
				}
			}
		}

		.post-meta {

		}

		.post-title {
			font-size: 1.5em;
			line-height: 1.167em;
		}

		.post-excerpt {
			margin: 0;
		}

		.post-more {
			display: block;
			margin-top: 1.5em;

			a {
				display: inline-block;
				font-size: 0.875em;
				line-height: 1.143em;
				font-weight: 400;
				color: $color-gray-25;

				&:hover,
				&:focus {
					color: $color-gray-15;
				}

				i {
					color: $color-primary-active;
				}
			}
		}
	}
}

/* ==========================================================================
   Post Footer
   ========================================================================== */

.post-footer {
	margin: 4em 0;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.post-tags {
		float: left;
		max-width: 60%;

		a {
			font-size: 0.875em;
			line-height: 1.714em;
			display: inline-block;
			border: 0;
			margin-bottom: 0.286em;
			padding: 0.286em 0.714em;
			border-radius: 2px;
			color: #fff;
			text-shadow: 0 0 2px $color-primary-active;
			background: $color-primary-default;
			font-weight: 300;

			&:hover,
			&:focus {
				background: $color-primary-active;
			}
		}
	}

	.post-share {
		float: right;

		a {
			font-size: 0.75em;
			display: block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			text-decoration: none;
			padding: 0.334em;
			margin: 0 0 0.334em 0.334em;
			float: left;
			border-radius: 2px;
			color: #fff;
			background: $color-gray-50;

			&:hover,
			&:focus {

			}

			&:before {
				margin: auto;
			}

			span {
				display: none;
			}

			&.icon-twitter {
				background-color: #3ea9dd;
			}
			&.icon-facebook {
				background-color: #3c5a98;
			}
			&.icon-gplus {
				background-color: #d14836;
			}
		}
	}
}

.post-comments {
	margin: 4em 0;
	border-radius: 2px;
}

/* ==========================================================================
   Post Nav
   ========================================================================== */

.post-nav {
	position: relative;

	@media only screen and (max-width: $breakpoint-desktop) {
		height: 7em;
		margin: 2em 0;
	}

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.post-nav-item {
		position: fixed;
		top: 50%;
		display: block;
		margin-top: -4em;
		overflow: hidden;
		border-radius: 10em;
		transition: none;

		@media only screen and (max-width: $breakpoint-desktop) {
			position: absolute;
			top: auto;
			margin: auto;
			max-width: 50%;
		}

		&:hover,
		&:focus {
			border-radius: 0;

			.post-nav-teaser {

				.post-nav-icon {
					box-shadow: 0 0 0 25em $color-primary-default;

					@media only screen and (max-width: $breakpoint-tablet) {
						box-shadow: 0 0 0 2px $color-primary-default;
					}
				}

				.post-nav-info {
					display: block;

					@media only screen and (max-width: $breakpoint-tablet) {
						display: none;
					}

					.post-nav-title {
						color: $color-gray-15;
					}

					.post-nav-excerpt {
						color: #fff;
					}
				}
			}
		}

		&.post-nav-next {
			left: 0;
			text-align: left;

			.post-nav-icon {
				float: left;

				i {
					left: -0.05em;
				}
			}

			.post-nav-info {
				padding-left: 6em;
			}
		}

		&.post-nav-prev {
			right: 0;
			text-align: right;

			.post-nav-icon {
				float: right;

				i {
					right: -0.05em;
				}
			}

			.post-nav-info {
				padding-right: 6em;
			}
		}

		.post-nav-teaser {
			display: block;
			padding: 1em;
			transition: all ease-out 0.2s;
			max-width: 25em;
			overflow: visible;

			&:after {
				clear: both;
				content: '';
				display: table;
			}

			.post-nav-icon {
				display: block;
				width: 5em;
				height: 5em;
				line-height: 5em;
				text-align: center;
				box-sizing: border-box;
				border-radius: 10em;
				border: 1px solid $color-primary-default;
				box-shadow: 0 0 0 0 transparent;
				transition: all ease-out 0.1s;
				background: $color-gray-97;

				@media only screen and (max-width: $breakpoint-phone) {
					width: 4em;
					height: 4em;
					line-height: 4em;
				}

				i {
					position: relative;
					font-size: 2em;

					@media only screen and (max-width: $breakpoint-phone) {
						font-size: 1.5em;
					}

					&:before {
						margin: auto;
					}
				}
			}

			.post-nav-info {
				display: none;
				width: 100%;
				box-sizing: border-box;
				transition: all ease-out 0.2s;

				.post-nav-title {
					display: block;
					max-height: 1.25em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin: 1.25em 0 0.25em;
					font-size: 1em;
					line-height: 1.25em;
					font-weight: 700;
					color: $color-gray-25;
				}

				.post-nav-excerpt {
					display: block;
					max-height: 1.334em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin: 0;
					font-size: 0.75em;
					line-height: 1.334em;
					font-weight: 400;
					color: $color-gray-65;
				}
			}
		}
	}
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
	min-height: 3em;
	margin: 4em auto 2em;
	padding: 0;
	position: relative;

	.pagination-item {
		position: relative;
		display: block;
		height: 3em;
		line-height: 3em;
		padding: 0 1em;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		color: $color-gray-25;
		border: 1px solid $color-primary-default;
		transition: all ease-out 0.1s;
		border-radius: 4em;
		z-index: 60;

		&:hover,
		&:focus {
			color: $color-gray-15;
			box-shadow: 0 0 0 2px $color-primary-default;
		}

		i {
			position: relative;
		}

		@media only screen and (max-width: $breakpoint-phone) {
			width: 4em;
			height: 4em;
			line-height: 4em;
			margin-top: -0.5em;
			padding: 0 !important;

			i {
				font-size: 1.5em;
			}

			> span {
				display: none;
			}
		}
	}

	.pagination-prev {
		float: right;

		i {
			right: -0.05em;
		}
	}

	.pagination-next {
		float: left;

		i {
			left: -0.05em;
		}
	}

	.pagination-info {
		display: block;
		left: 0;
		top: 0;
		height: 3em;
		line-height: 3em;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 50;
		color: $color-gray-65;
	}
}

/*******************************************************************************
 * Preloader
 ******************************************************************************/

 #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-green-85;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-green-72;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-gray-85;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/*******************************************************************************
 * Blur effects
 ******************************************************************************/

@-webkit-keyframes blurUp {
   0% {
     -webkit-filter: blur(15px);
     -moz-filter: blur(15px);
     -o-filter: blur(15px);
     -ms-filter: blur(15px);
     filter: blur(15px);
   }
   100% {
     -webkit-filter: blur(0px);
     -moz-filter: blur(0px);
     -o-filter: blur(0px);
     -ms-filter: blur(0px);
     filter: blur(0px);
   }
}

@keyframes blurUp {
  0% {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

.filter-blur-15 {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.blurUp {
  -webkit-animation: blurUp 0.5s linear; /* Chrome, Opera 15+, Safari 5+ */
  animation: blurUp 0.5s linear; /* Chrome, Firefox 16+, IE 10 */
}

/*******************************************************************************
 * Alert panels
 ******************************************************************************/

.w3-panel {
  padding:0.01em 16px;
  margin-top:16px!important;
  margin-bottom:16px!important
}

.w3-panel {
  .alert-title {
    font-weight: bold;
  }
  .alert-content {

  }
}

/* Card */
.w3-card-2,.w3-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.w3-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.w3-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.w3-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.w3-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}

/* Colors */
.w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.w3-pink,.w3-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107!important}
.w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff!important}
.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3!important}
.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB!important}
.w3-text-brown,.w3-hover-text-brown:hover{color:#795548!important}
.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4!important}
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover{color:#607d8b!important}
.w3-text-green,.w3-hover-text-green:hover{color:#4CAF50!important}
.w3-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a!important}
.w3-text-indigo,.w3-hover-text-indigo:hover{color:#3f51b5!important}
.w3-text-khaki,.w3-hover-text-khaki:hover{color:#b4aa50!important}
.w3-text-lime,.w3-hover-text-lime:hover{color:#cddc39!important}
.w3-text-orange,.w3-hover-text-orange:hover{color:#ff9800!important}
.w3-text-deep-orange,.w3-hover-text-deep-orange:hover{color:#ff5722!important}
.w3-text-pink,.w3-hover-text-pink:hover{color:#e91e63!important}
.w3-text-purple,.w3-hover-text-purple:hover{color:#9c27b0!important}
.w3-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7!important}
.w3-text-red,.w3-hover-text-red:hover{color:#f44336!important}
.w3-text-sand,.w3-hover-text-sand:hover{color:#fdf5e6!important}
.w3-text-teal,.w3-hover-text-teal:hover{color:#009688!important}
.w3-text-yellow,.w3-hover-text-yellow:hover{color:#d2be0e!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-text-black,.w3-hover-text-black:hover{color:#000!important}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-text-light-grey,.w3-hover-text-light-grey:hover,.w3-text-light-gray,.w3-hover-text-light-gray:hover{color:#f1f1f1!important}
.w3-text-dark-grey,.w3-hover-text-dark-grey:hover,.w3-text-dark-gray,.w3-hover-text-dark-gray:hover{color:#3a3a3a!important}
.w3-border-amber,.w3-hover-border-amber:hover{border-color:#ffc107!important}
.w3-border-aqua,.w3-hover-border-aqua:hover{border-color:#00ffff!important}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3!important}
.w3-border-light-blue,.w3-hover-border-light-blue:hover{border-color:#87CEEB!important}
.w3-border-brown,.w3-hover-border-brown:hover{border-color:#795548!important}
.w3-border-cyan,.w3-hover-border-cyan:hover{border-color:#00bcd4!important}
.w3-border-blue-grey,.w3-hover-blue-grey:hover,.w3-border-blue-gray,.w3-hover-blue-gray:hover{border-color:#607d8b!important}
.w3-border-green,.w3-hover-border-green:hover{border-color:#4CAF50!important}
.w3-border-light-green,.w3-hover-border-light-green:hover{border-color:#8bc34a!important}
.w3-border-indigo,.w3-hover-border-indigo:hover{border-color:#3f51b5!important}
.w3-border-khaki,.w3-hover-border-khaki:hover{border-color:#f0e68c!important}
.w3-border-lime,.w3-hover-border-lime:hover{border-color:#cddc39!important}
.w3-border-orange,.w3-hover-border-orange:hover{border-color:#ff9800!important}
.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722!important}
.w3-border-pink,.w3-hover-border-pink:hover{border-color:#e91e63!important}
.w3-border-purple,.w3-hover-border-purple:hover{border-color:#9c27b0!important}
.w3-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7!important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}
.w3-border-sand,.w3-hover-border-sand:hover{border-color:#fdf5e6!important}
.w3-border-teal,.w3-hover-border-teal:hover{border-color:#009688!important}
.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#ffeb3b!important}
.w3-border-white,.w3-hover-border-white:hover{border-color:#fff!important}
.w3-border-black,.w3-hover-border-black:hover{border-color:#000!important}
.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover{border-color:#9e9e9e!important}
.w3-border-light-grey,.w3-hover-border-light-grey:hover,.w3-border-light-gray,.w3-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover{border-color:#616161!important}
.w3-border-pale-red,.w3-hover-border-pale-red:hover{border-color:#ffe7e7!important}.w3-border-pale-green,.w3-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.w3-border-pale-blue,.w3-hover-border-pale-blue:hover{border-color:#e7ffff!important}
