@charset "UTF-8";
/* ==========================================================================
   Includes
   ========================================================================== */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Sans Light"), local("MerriweatherSans-Light"), url("//fonts.gstatic.com/s/merriweathersans/v5/6LmGj5dOJopQKEkt88GowY_zIojJi0m4a5Z6tRh6itY.woff") format("woff"); }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Sans Regular"), local("MerriweatherSans-Regular"), url("//fonts.gstatic.com/s/merriweathersans/v5/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff") format("woff"); }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Sans Bold"), local("MerriweatherSans-Bold"), url("//fonts.gstatic.com/s/merriweathersans/v5/6LmGj5dOJopQKEkt88GowQfd-b-I5PxxcmB4_-MNcqw.woff") format("woff"); }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Merriweather Sans ExtraBold"), local("MerriweatherSans-ExtraBold"), url("//fonts.gstatic.com/s/merriweathersans/v5/6LmGj5dOJopQKEkt88GowWT7sFQ1Iz1BbpcuCPlgc9Q.woff") format("woff"); }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Sans Light Italic"), local("MerriweatherSans-LightItalic"), url("//fonts.gstatic.com/s/merriweathersans/v5/nAqt4hiqwq3tzCecpgPmVX9UU5BmOJGkLxUCVv5VXdc.woff") format("woff"); }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Sans Italic"), local("MerriweatherSans-Italic"), url("//fonts.gstatic.com/s/merriweathersans/v5/3Mz4hOHzs2npRMG3B1ascf0KIgDhPIHb_R-SWdtqte8.woff") format("woff"); }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Sans Bold Italic"), local("MerriweatherSans-BoldItalic"), url("//fonts.gstatic.com/s/merriweathersans/v5/nAqt4hiqwq3tzCecpgPmVYM8pfYvjMoOxygpzLVILAs.woff") format("woff"); }

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("//fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff") format("woff"); }

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url("//fonts.gstatic.com/s/inconsolata/v12/AIed271kqQlcIRSOnQH0yTqR_3kx9_hJXbbyU8S6IN0.woff") format("woff"); }

@font-face {
  font-family: 'icons';
  src: url("/fonts/icons.eot?9273991");
  src: url("/fonts/icons.eot?9273991#iefix") format("embedded-opentype"), url("/fonts/icons.woff?9273991") format("woff"), url("/fonts/icons.ttf?9273991") format("truetype"), url("/fonts/icons.svg?9273991#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?9273991#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-star:before {
  content: '\e800'; }

/* '' */
.icon-location:before {
  content: '\e801'; }

/* '' */
.icon-arrow-left:before {
  content: '\e804'; }

/* '' */
.icon-link:before {
  content: '\e806'; }

/* '' */
.icon-arrow-right:before {
  content: '\e807'; }

/* '' */
.icon-rss:before {
  content: '\e808'; }

/* '' */
.icon-menu:before {
  content: '\e809'; }

/* '' */
.icon-gplus:before {
  content: '\e80a'; }

/* '' */
.icon-facebook:before {
  content: '\e80b'; }

/* '' */
.icon-twitter:before {
  content: '\e80c'; }

/* '' */
/*
	Change the accent colors here. Make sure they work on light an dark
	backgrounds or as background color for light and dark text color
*/
/* Light */
/* Dark */
/* ==========================================================================
   Basics
   ========================================================================== */
body {
  font: 300 1em / 1.5em Junction,'Merriweather Sans', sans-serif;
  color: #595B66; }

::-moz-selection, ::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none; }

::-moz-selection, ::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  transition: all ease-out 0.2s; }
  a:hover, a:focus {
    color: #1F2026; }

.post-content a {
  border-bottom: 2px solid #36D995; }
  .post-content a:hover, .post-content a:focus {
    border-color: #2DB77E; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  color: #1F2026; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }

h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 2em 0 -0.5em; }

h2 {
  font-size: 1.75em;
  line-height: 1.143em;
  margin: 2.286em 0 -0.571em; }

h3 {
  font-size: 1.5em;
  line-height: 1.334em;
  margin: 2em 0 -0.667em; }

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 2.4em 0 -0.8em; }

p {
  margin: 2em auto; }

ul {
  list-style: none; }

li {
  position: relative; }

ul > li:before,
ol > li:before {
  position: absolute;
  width: 2em;
  margin-left: -3em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: right;
  color: #1F2026; }

ul > li:before {
  margin-top: 0.125em;
  content: '*'; }

ol {
  list-style-type: none;
  counter-reset: item; }

ol > li:before {
  content: counter(item) ". " !important;
  counter-increment: item; }

ol,
ul {
  padding-left: 3em;
  margin: 2em auto; }
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    padding-left: 1.5em;
    margin: 1em auto; }

dl {
  margin: 2em auto; }
  dl dt {
    font-size: 0.875em;
    line-height: 1.143em;
    font-weight: 700;
    margin-bottom: 0.571em;
    color: #1F2026; }
  dl dd {
    margin-left: 1em;
    margin-bottom: 1.5em; }

hr {
  display: block;
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background: #E1E2E6;
  border: 0; }

blockquote {
  margin: 2em auto;
  padding: 0 1em;
  box-sizing: border-box;
  border-left: 0.25em solid #D4D5D9;
  font-style: italic;
  font-weight: 400;
  color: #595B66;
  background: transparent; }
  blockquote * {
    margin: 1em auto; }
    blockquote *:first-child {
      margin-top: 0; }
    blockquote *:last-child {
      margin-bottom: 0; }

em, i {
  font-weight: 400;
  font-style: italic;
  color: #363740; }

strong, b {
  font-weight: 700;
  color: #363740; }

small {
  font-size: 0.9em; }

mark {
  background-color: #FFC336; }

code,
tt {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 3px 6px;
  margin: -1px 2px;
  font-family: 'Inconsolata', monospace;
  font-size: 0.875em;
  line-height: 1.143em;
  color: #000;
  font-weight: 400;
  border-radius: 2px; }

tt {
  background: #E1E2E6; }

pre {
  margin: 2em auto;
  width: 100%;
  padding: 1em;
  font-family: 'Inconsolata', monospace;
  white-space: pre;
  overflow: auto;
  color: #fff;
  box-sizing: border-box; }
  pre code,
  pre tt {
    position: static;
    top: auto;
    font-size: 1em;
    line-height: 1.5em;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    vertical-align: inherit;
    border: none;
    padding: 0;
    background: transparent; }

pre.codeblock {
  position: relative;
  padding: 1em;
  overflow: hidden; }
  pre.codeblock code {
    display: block;
    border: 0;
    padding-left: 4em;
    margin: -1.6em;
    white-space: inherit;
    overflow-x: scroll; }
  pre.codeblock .lines {
    position: absolute;
    width: 3em;
    height: 100%;
    left: 0;
    top: 0;
    border-right: 1px solid #D4D5D9;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: default;
    background: #F2F3F5; }
    pre.codeblock .lines .line {
      display: block;
      padding-right: 0.5em;
      color: #9D9FA6; }

kbd {
  display: inline-block;
  margin: 0 2px 4px;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.875em;
  font-weight: bold;
  background: #F2F3F5;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset; }

table {
  width: 100%;
  max-width: 100%;
  margin: 2em 0;
  background-color: transparent;
  border: 1px solid #E1E2E6; }

table th,
table td {
  position: relative;
  padding: 1em;
  line-height: 1em;
  text-align: left;
  border: 1px solid #E1E2E6; }

table th {
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1.334em;
  padding: 1.334em;
  color: #1F2026; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2.5em auto; }

iframe {
  margin: 2.5em auto; }

.fluid-width-video-wrapper {
  margin: 2.5em auto; }
  .fluid-width-video-wrapper iframe {
    margin: auto; }

/* ==========================================================================
   Default
   ========================================================================== */
#nprogress .bar {
  background: #36D995 !important;
  height: 3px !important; }
  #nprogress .bar .peg {
    box-shadow: none !important; }

#nprogress .spinner {
  display: none !important;
  top: 50% !important;
  right: 50% !important; }
  #nprogress .spinner .spinner-icon {
    width: 4em !important;
    height: 4em !important;
    margin: -4em -4em 0 0 !important;
    border-top-color: #36D995 !important;
    border-left-color: #36D995 !important; }

body {
  background: #fff; }

.menu-initial body {
  transition: all ease-out 0.3s;
  overflow: hidden; }

.menu-active body {
  background: #1F2026; }

.inner {
  max-width: 48em;
  margin: 0 auto;
  padding: 0 1em; }

#wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 6em;
  background: #F2F3F5; }

/* ==========================================================================
   Push Animations
   ========================================================================== */
@keyframes pushPrev {
  0% {
    transform: translate3d(0, 0, 0); }
  75% {
    opacity: 1; }
  100% {
    transform: translate3d(-150%, 0, 0);
    opacity: 0; } }

@keyframes pushedPrev {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes pushNext {
  0% {
    transform: translate3d(0, 0, 0); }
  75% {
    opacity: 1; }
  100% {
    transform: translate3d(150%, 0, 0);
    opacity: 0; } }

@keyframes pushedNext {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

#push {
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  opacity: 1; }

.push-next #push {
  animation: pushNext ease-in 0.5s forwards !important; }

.pushed-next #push {
  animation: pushedNext ease-out 0.5s forwards; }

.push-prev #push {
  animation: pushPrev ease-in 0.5s forwards !important; }

.pushed-prev #push {
  animation: pushedPrev ease-out 0.5s forwards; }

/* ==========================================================================
   Navigation
   ========================================================================== */
#nav {
  position: relative;
  background: transparent;
  z-index: 70;
  transition: all ease-out 0.4s;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  opacity: 1; }
  #nav:after {
    clear: both;
    content: '';
    display: table; }
  #nav i {
    color: white; }
  #nav .nav-logo {
    float: left;
    height: 2em;
    padding: 1em;
    max-width: 50%; }
    #nav .nav-logo img {
      width: auto;
      max-width: none;
      height: 2em;
      margin: 0;
      border-radius: 5px; }
    #nav .nav-logo .name {
      display: block;
      line-height: 2em;
      font-weight: 800;
      color: #363740;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    #nav .nav-logo .logo-img {
      float: left; }
    #nav .nav-logo .logo-name {
      float: right;
      color: white;
      padding: 0 0 0 1em; }
  #nav .nav-menu {
    float: right; }
    #nav .nav-menu:after {
      clear: both;
      content: '';
      display: table; }
    #nav .nav-menu a {
      display: block;
      width: 1em;
      height: 1em;
      line-height: 1em;
      padding: 1.5em;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav .nav-menu a:hover, #nav .nav-menu a:focus {
        background: #E1E2E6; }
      #nav .nav-menu a i:before {
        margin: auto; }

.loading #nav {
  transform: translate3d(0, -100%, 0);
  opacity: 0; }

#menu, #tocMenu {
  display: none;
  position: fixed;
  left: 50%;
  top: 5%;
  width: 30em;
  height: 90%;
  margin-left: -15em;
  background: transparent;
  box-sizing: border-box;
  padding: 3em 0 0;
  overflow: hidden;
  transition: all ease-out 0.3s;
  transform: translate3d(0, 2em, 0);
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 100; }
  @media only screen and (max-width: 50em) {
    #menu, #tocMenu {
      width: 90%;
      left: 5%;
      margin-left: auto; } }
  #menu.initial, #tocMenu.initial {
    display: block; }
  #menu.active, #tocMenu.active {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  #menu .menu-header, #tocMenu .menu-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5em;
    padding: 1em 1.5em 0.5em;
    margin-bottom: 1em;
    line-height: 2em;
    z-index: 110;
    box-sizing: border-box;
    background: #fff; }
    #menu .menu-header:before, #tocMenu .menu-header:before {
      content: '';
      position: absolute;
      left: -5%;
      bottom: -1em;
      width: 110%;
      height: 2em;
      background: #fff;
      border-bottom: 4px solid #36D995;
      box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.1);
      transform: rotate(2.5deg);
      transition: all ease-out 0.2s;
      z-index: 115; }
    #menu .menu-header:after, #tocMenu .menu-header:after {
      clear: both;
      content: '';
      display: table; }
    #menu .menu-header .menu-label, #tocMenu .menu-header .menu-label {
      position: relative;
      display: block;
      float: left;
      z-index: 120; }
    #menu .menu-header .menu-close, #tocMenu .menu-header .menu-close {
      position: relative;
      display: block;
      float: right;
      width: 2em;
      height: 2em;
      padding: 1em;
      margin: -1em -1.5em -1em 0;
      cursor: pointer;
      z-index: 125; }
      #menu .menu-header .menu-close:after, #menu .menu-header .menu-close:before, #tocMenu .menu-header .menu-close:after, #tocMenu .menu-header .menu-close:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: #9D9FA6;
        transform: rotate(45deg); }
      #menu .menu-header .menu-close:hover:after, #menu .menu-header .menu-close:hover:before, #menu .menu-header .menu-close:focus:after, #menu .menu-header .menu-close:focus:before, #tocMenu .menu-header .menu-close:hover:after, #tocMenu .menu-header .menu-close:hover:before, #tocMenu .menu-header .menu-close:focus:after, #tocMenu .menu-header .menu-close:focus:before {
        background: #737580; }
      #menu .menu-header .menu-close:after, #tocMenu .menu-header .menu-close:after {
        width: 2px;
        height: 1em;
        margin: -0.5em 0 0 -1px; }
      #menu .menu-header .menu-close:before, #tocMenu .menu-header .menu-close:before {
        width: 1em;
        height: 2px;
        margin: -1px 0 0 -0.5em; }
  #menu .menu-list, #tocMenu .menu-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 2em 0;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff; }
    #menu .menu-list .menu-list-item, #tocMenu .menu-list .menu-list-item {
      position: relative; }
      #menu .menu-list .menu-list-item:after, #tocMenu .menu-list .menu-list-item:after {
        content: '';
        position: absolute;
        left: 1.5em;
        top: 0;
        width: 100%;
        border-top: 1px solid #E1E2E6; }
      #menu .menu-list .menu-list-item:first-child:after, #tocMenu .menu-list .menu-list-item:first-child:after {
        display: none; }
      #menu .menu-list .menu-list-item a, #tocMenu .menu-list .menu-list-item a {
        position: relative;
        display: block;
        padding: 1em 1.5em;
        font-weight: inherit;
        font-weight: 400; }
        #menu .menu-list .menu-list-item a:hover, #menu .menu-list .menu-list-item a:focus, #tocMenu .menu-list .menu-list-item a:hover, #tocMenu .menu-list .menu-list-item a:focus {
          background: #E1E2E6; }
        #menu .menu-list .menu-list-item a.current, #tocMenu .menu-list .menu-list-item a.current {
          font-weight: 700;
          color: #363740; }
          #menu .menu-list .menu-list-item a.current:before, #tocMenu .menu-list .menu-list-item a.current:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-left: 4px solid #36D995; }

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  display: none; }
  .overlay:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1F2026;
    opacity: 0;
    transition: all ease-out 0.3s;
    transform-style: preserve-3d; }

.menu-initial .overlay {
  display: block; }

.menu-active .overlay:before {
  opacity: 0.9; }

/* ==========================================================================
   Header
   ========================================================================== */
#header {
  background-image: url("http://res.cloudinary.com/geeknride/image/upload/v1506863621/banner01_njikuf.jpg");
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 0 45% 0; }
  #header .inner {
    position: relative;
    z-index: 2; }
  #header .header-title {
    display: block;
    text-align: center;
    opacity: transparent; }
  #header .header-name {
    font-family: monospace;
    font-weight: 700;
    letter-spacing: -1px;
    display: block;
    line-height: 1em;
    font-size: 2em;
    text-decoration: none;
    color: #1F2026;
    padding: 0;
    margin: 0; }
    #header .header-name em {
      font-family: 'Helvetica Neue', sans-serif;
      position: relative;
      top: -0.334em;
      margin-left: -0.25em;
      display: inline-block;
      width: auto;
      min-width: 0.5em;
      height: 1.5em;
      padding: 0 0.5em;
      line-height: 1.5em;
      font-style: normal;
      font-weight: 400;
      font-size: 0.5em;
      background: #36D995;
      color: #fff;
      text-shadow: 0 0 2px #2DB77E;
      border-radius: 2em; }
  #header.has-cover .header-name {
    color: #fff; }
  #header .header-description {
    display: block;
    margin: 1em auto 0;
    color: #9D9FA6;
    position: relative;
    font-weight: 300; }
    #header .header-description:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100px;
      margin-left: -50px;
      left: 50%;
      top: -0.5em;
      background: #D4D5D9; }
  #header.has-cover .header-description {
    color: #fff; }
    #header.has-cover .header-description:after {
      background: #fff; }
  #header .header-image {
    width: 3em;
    height: 3em;
    margin: -1em auto 1em;
    overflow: hidden;
    border-radius: 3em;
    border: 2px solid #36D995;
    background: #2DB77E; }
    #header .header-image img {
      width: 100%;
      margin: auto; }
  #header.has-cover .header-image {
    border-color: #fff; }
  #header .header-meta {
    display: block;
    margin: 1.334em auto -1.334em;
    color: #9D9FA6;
    position: relative;
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.334em; }
    #header .header-meta span {
      font-weight: 400;
      color: #595B66;
      margin-right: 1em; }
      #header .header-meta span a {
        color: inherit;
        text-decoration: none; }
      #header .header-meta span i {
        color: #9D9FA6; }
  #header.has-cover .header-meta {
    color: #fff; }
    #header.has-cover .header-meta span {
      color: #fff; }
      #header.has-cover .header-meta span i {
        color: #fff;
        opacity: 0.5; }
  #header .header-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: -4em;
    padding: 4em 0;
    background: no-repeat fixed center 100% / cover;
    z-index: 1; }
    #header .header-cover:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2); }
    #header .header-cover:after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom: 4px solid #36D995; }

/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 0.75em;
  line-height: 1.334em;
  background: #1F2026;
  color: #737580;
  z-index: 20;
  transition: all ease-out 0.4s;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  opacity: 1; }
  #footer a {
    color: #9D9FA6;
    font-weight: 400; }
  #footer .credits {
    text-align: center;
    font-size: 0.75em;
    line-height: 1.334em;
    padding: 2.667em;
    overflow: auto; }
    #footer .credits span {
      display: block; }
    #footer .credits .credits-theme {
      float: left; }
    #footer .credits .credits-software {
      float: right; }

.loading #footer {
  transform: translate3d(0, 100%, 0);
  opacity: 0; }

/* ==========================================================================
   Post
   ========================================================================== */
.post {
  position: relative;
  z-index: 20; }
  .post .post-image {
    display: block;
    margin: 0;
    padding: 0; }
    .post .post-image img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0; }
  .post .post-meta {
    display: block;
    font-size: 0.75em;
    line-height: 1.334em;
    font-weight: 400;
    margin-bottom: 1.334em; }
    .post .post-meta a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .post .post-meta a:hover, .post .post-meta a:focus {
        border-bottom-color: rgba(0, 0, 0, 0.4); }
  .post .post-title {
    position: relative;
    color: #000;
    font-size: 2em;
    line-height: 1.375em;
    font-weight: 800;
    text-indent: -1px;
    margin: 0.25em 0 0.75em; }
    .post .post-title:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.334em;
      width: 1em;
      margin-bottom: -2px;
      border-bottom: 4px solid #36D995; }
    .post .post-title a {
      text-decoration: none;
      color: inherit;
      font-weight: inherit; }
  .post .post-header {
    padding: 4em 0 0;
    margin-bottom: 3em; }

/* ==========================================================================
   Index
   ========================================================================== */
#post-index {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 4em;
  padding: 0.5em;
  z-index: 10; }

@keyframes fade {
  0% {
    transform: translate3d(0, 3em, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.post-list {
  position: relative; }
  .post-list .post {
    float: left;
    width: 33.30%;
    transform: translate3d(0, 3em, 0);
    transform-style: preserve-3d;
    opacity: 0;
    animation: fade ease-out 0.5s forwards;
    animation-delay: 1.4s; }
    @media only screen and (max-width: 50em) {
      .post-list .post {
        width: 49.90%; } }
    @media only screen and (max-width: 30em) {
      .post-list .post {
        width: 100%;
        float: none; } }
    .post-list .post.initial {
      z-index: 25; }
      .post-list .post.initial .inner {
        transition: all ease-in 0.5s; }
    .post-list .post.active .inner {
      transform: scale(1.5); }
    .post-list .post:nth-child(1) {
      animation-delay: 0.1s; }
    .post-list .post:nth-child(2) {
      animation-delay: 0.2s; }
    .post-list .post:nth-child(3) {
      animation-delay: 0.3s; }
    .post-list .post:nth-child(4) {
      animation-delay: 0.4s; }
    .post-list .post:nth-child(5) {
      animation-delay: 0.5s; }
    .post-list .post:nth-child(6) {
      animation-delay: 0.6s; }
    .post-list .post:nth-child(7) {
      animation-delay: 0.7s; }
    .post-list .post:nth-child(8) {
      animation-delay: 0.8s; }
    .post-list .post:nth-child(9) {
      animation-delay: 0.9s; }
    .post-list .post:nth-child(10) {
      animation-delay: 1.0s; }
    .post-list .post:nth-child(11) {
      animation-delay: 1.1s; }
    .post-list .post:nth-child(12) {
      animation-delay: 1.2s; }
    .post-list .post.post.featured .inner {
      background: #1F2026;
      color: #9D9FA6; }
      .post-list .post.post.featured .inner:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-right: 3em solid #FFC336;
        border-bottom: 3em solid transparent;
        z-index: 1; }
      .post-list .post.post.featured .inner:before {
        font-family: "icons";
        content: '\e800';
        position: absolute;
        right: 0;
        top: 0;
        width: 1.75em;
        height: 1.75em;
        line-height: 2em;
        text-align: center;
        color: #1F2026;
        z-index: 2; }
    .post-list .post.post.featured .post-image:after {
      background: #1F2026;
      bottom: -2.5em;
      height: 5em; }
    .post-list .post.post.featured .post-title {
      color: #fff; }
    .post-list .post.post.featured .post-more a {
      color: #fff; }
    .post-list .post .inner {
      padding: 2em;
      margin: 0.5em;
      max-width: none;
      background: #fff;
      box-sizing: border-box;
      transition: all ease-out 0.2s;
      transform: scale(1);
      transform-style: preserve-3d; }
      @media only screen and (max-width: 50em) {
        .post-list .post .inner {
          padding: 1em; } }
    .post-list .post .post-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
    .post-list .post .post-image {
      position: relative;
      margin: -2em -1.99em 0;
      overflow: hidden;
      background: #36D995; }
      @media only screen and (max-width: 50em) {
        .post-list .post .post-image {
          margin: -1em -1em 0; } }
      .post-list .post .post-image img {
        transition: all ease-out 0.3s;
        transform: scale(1);
        transform-style: preserve-3d;
        opacity: 1; }
      .post-list .post .post-image:after {
        content: '';
        position: absolute;
        left: -5%;
        bottom: -2.5em;
        width: 110%;
        height: 4em;
        background: #fff;
        border-top: 4px solid #36D995;
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
        transform: rotate(5deg);
        transition: all ease-out 0.2s; }
    .post-list .post:hover .inner, .post-list .post:focus .inner {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 48px rgba(0, 0, 0, 0.1); }
    .post-list .post:hover .post-image img, .post-list .post:focus .post-image img {
      transform: scale(1.05);
      opacity: 0.5; }
    .post-list .post:hover .post-image:after, .post-list .post:focus .post-image:after {
      border-top-width: 0;
      box-shadow: none; }
    .post-list .post .post-title {
      font-size: 1.5em;
      line-height: 1.167em; }
    .post-list .post .post-excerpt {
      margin: 0; }
    .post-list .post .post-more {
      display: block;
      margin-top: 1.5em; }
      .post-list .post .post-more a {
        display: inline-block;
        font-size: 0.875em;
        line-height: 1.143em;
        font-weight: 400;
        color: #363740; }
        .post-list .post .post-more a:hover, .post-list .post .post-more a:focus {
          color: #1F2026; }
        .post-list .post .post-more a i {
          color: #2DB77E; }

/* ==========================================================================
   Post Footer
   ========================================================================== */
.post-footer {
  margin: 4em 0; }
  .post-footer:after {
    clear: both;
    content: '';
    display: table; }
  .post-footer .post-tags {
    float: left;
    max-width: 60%; }
    .post-footer .post-tags a {
      font-size: 0.875em;
      line-height: 1.714em;
      display: inline-block;
      border: 0;
      margin-bottom: 0.286em;
      padding: 0.286em 0.714em;
      border-radius: 2px;
      color: #fff;
      text-shadow: 0 0 2px #2DB77E;
      background: #36D995;
      font-weight: 300; }
      .post-footer .post-tags a:hover, .post-footer .post-tags a:focus {
        background: #2DB77E; }
  .post-footer .post-share {
    float: right; }
    .post-footer .post-share a {
      font-size: 0.75em;
      display: block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      text-decoration: none;
      padding: 0.334em;
      margin: 0 0 0.334em 0.334em;
      float: left;
      border-radius: 2px;
      color: #fff;
      background: #737580; }
      .post-footer .post-share a:before {
        margin: auto; }
      .post-footer .post-share a span {
        display: none; }
      .post-footer .post-share a.icon-twitter {
        background-color: #3ea9dd; }
      .post-footer .post-share a.icon-facebook {
        background-color: #3c5a98; }
      .post-footer .post-share a.icon-gplus {
        background-color: #d14836; }

.post-comments {
  margin: 4em 0;
  border-radius: 2px; }

/* ==========================================================================
   Post Nav
   ========================================================================== */
.post-nav {
  position: relative; }
  @media only screen and (max-width: 70em) {
    .post-nav {
      height: 7em;
      margin: 2em 0; } }
  .post-nav:after {
    clear: both;
    content: '';
    display: table; }
  .post-nav .post-nav-item {
    position: fixed;
    top: 50%;
    display: block;
    margin-top: -4em;
    overflow: hidden;
    border-radius: 10em;
    transition: none; }
    @media only screen and (max-width: 70em) {
      .post-nav .post-nav-item {
        position: absolute;
        top: auto;
        margin: auto;
        max-width: 50%; } }
    .post-nav .post-nav-item:hover, .post-nav .post-nav-item:focus {
      border-radius: 0; }
      .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon {
        box-shadow: 0 0 0 25em #36D995; }
        @media only screen and (max-width: 50em) {
          .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon {
            box-shadow: 0 0 0 2px #36D995; } }
      .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info {
        display: block; }
        @media only screen and (max-width: 50em) {
          .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info {
            display: none; } }
        .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info .post-nav-title, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info .post-nav-title {
          color: #1F2026; }
        .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info .post-nav-excerpt, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info .post-nav-excerpt {
          color: #fff; }
    .post-nav .post-nav-item.post-nav-next {
      left: 0;
      text-align: left; }
      .post-nav .post-nav-item.post-nav-next .post-nav-icon {
        float: left; }
        .post-nav .post-nav-item.post-nav-next .post-nav-icon i {
          left: -0.05em; }
      .post-nav .post-nav-item.post-nav-next .post-nav-info {
        padding-left: 6em; }
    .post-nav .post-nav-item.post-nav-prev {
      right: 0;
      text-align: right; }
      .post-nav .post-nav-item.post-nav-prev .post-nav-icon {
        float: right; }
        .post-nav .post-nav-item.post-nav-prev .post-nav-icon i {
          right: -0.05em; }
      .post-nav .post-nav-item.post-nav-prev .post-nav-info {
        padding-right: 6em; }
    .post-nav .post-nav-item .post-nav-teaser {
      display: block;
      padding: 1em;
      transition: all ease-out 0.2s;
      max-width: 25em;
      overflow: visible; }
      .post-nav .post-nav-item .post-nav-teaser:after {
        clear: both;
        content: '';
        display: table; }
      .post-nav .post-nav-item .post-nav-teaser .post-nav-icon {
        display: block;
        width: 5em;
        height: 5em;
        line-height: 5em;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10em;
        border: 1px solid #36D995;
        box-shadow: 0 0 0 0 transparent;
        transition: all ease-out 0.1s;
        background: #F2F3F5; }
        @media only screen and (max-width: 30em) {
          .post-nav .post-nav-item .post-nav-teaser .post-nav-icon {
            width: 4em;
            height: 4em;
            line-height: 4em; } }
        .post-nav .post-nav-item .post-nav-teaser .post-nav-icon i {
          position: relative;
          font-size: 2em; }
          @media only screen and (max-width: 30em) {
            .post-nav .post-nav-item .post-nav-teaser .post-nav-icon i {
              font-size: 1.5em; } }
          .post-nav .post-nav-item .post-nav-teaser .post-nav-icon i:before {
            margin: auto; }
      .post-nav .post-nav-item .post-nav-teaser .post-nav-info {
        display: none;
        width: 100%;
        box-sizing: border-box;
        transition: all ease-out 0.2s; }
        .post-nav .post-nav-item .post-nav-teaser .post-nav-info .post-nav-title {
          display: block;
          max-height: 1.25em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 1.25em 0 0.25em;
          font-size: 1em;
          line-height: 1.25em;
          font-weight: 700;
          color: #363740; }
        .post-nav .post-nav-item .post-nav-teaser .post-nav-info .post-nav-excerpt {
          display: block;
          max-height: 1.334em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
          font-size: 0.75em;
          line-height: 1.334em;
          font-weight: 400;
          color: #9D9FA6; }

/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
  min-height: 3em;
  margin: 4em auto 2em;
  padding: 0;
  position: relative; }
  .pagination .pagination-item {
    position: relative;
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #363740;
    border: 1px solid #36D995;
    transition: all ease-out 0.1s;
    border-radius: 4em;
    z-index: 60; }
    .pagination .pagination-item:hover, .pagination .pagination-item:focus {
      color: #1F2026;
      box-shadow: 0 0 0 2px #36D995; }
    .pagination .pagination-item i {
      position: relative; }
    @media only screen and (max-width: 30em) {
      .pagination .pagination-item {
        width: 4em;
        height: 4em;
        line-height: 4em;
        margin-top: -0.5em;
        padding: 0 !important; }
        .pagination .pagination-item i {
          font-size: 1.5em; }
        .pagination .pagination-item > span {
          display: none; } }
  .pagination .pagination-prev {
    float: right; }
    .pagination .pagination-prev i {
      right: -0.05em; }
  .pagination .pagination-next {
    float: left; }
    .pagination .pagination-next i {
      left: -0.05em; }
  .pagination .pagination-info {
    display: block;
    left: 0;
    top: 0;
    height: 3em;
    line-height: 3em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 50;
    color: #9D9FA6; }

/*******************************************************************************
 * Preloader
 ******************************************************************************/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #36D995;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2DB77E;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #D4D5D9;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@keyframes spin {
  0% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

/*******************************************************************************
 * Blur effects
 ******************************************************************************/

@keyframes blurUp {
  0% {
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px); }
  100% {
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); } }

.filter-blur-15 {
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px); }

.blurUp {
  /* Chrome, Opera 15+, Safari 5+ */
  animation: blurUp 0.5s linear;
  /* Chrome, Firefox 16+, IE 10 */ }

/*******************************************************************************
 * Alert panels
 ******************************************************************************/
.w3-panel {
  padding: 0.01em 16px;
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.w3-panel .alert-title {
  font-weight: bold; }

/* Card */
.w3-card-2, .w3-example {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

.w3-card-8 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

.w3-card-12 {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important; }

.w3-card-16 {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important; }

.w3-card-24 {
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important; }

/* Colors */
.w3-amber, .w3-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important; }

.w3-aqua, .w3-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important; }

.w3-blue, .w3-hover-blue:hover {
  color: #fff !important;
  background-color: #2196F3 !important; }

.w3-light-blue, .w3-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87CEEB !important; }

.w3-brown, .w3-hover-brown:hover {
  color: #fff !important;
  background-color: #795548 !important; }

.w3-cyan, .w3-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important; }

.w3-blue-grey, .w3-hover-blue-grey:hover, .w3-blue-gray, .w3-hover-blue-gray:hover {
  color: #fff !important;
  background-color: #607d8b !important; }

.w3-green, .w3-hover-green:hover {
  color: #fff !important;
  background-color: #4CAF50 !important; }

.w3-light-green, .w3-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important; }

.w3-indigo, .w3-hover-indigo:hover {
  color: #fff !important;
  background-color: #3f51b5 !important; }

.w3-khaki, .w3-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important; }

.w3-lime, .w3-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important; }

.w3-orange, .w3-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important; }

.w3-deep-orange, .w3-hover-deep-orange:hover {
  color: #fff !important;
  background-color: #ff5722 !important; }

.w3-pink, .w3-hover-pink:hover {
  color: #fff !important;
  background-color: #e91e63 !important; }

.w3-purple, .w3-hover-purple:hover {
  color: #fff !important;
  background-color: #9c27b0 !important; }

.w3-deep-purple, .w3-hover-deep-purple:hover {
  color: #fff !important;
  background-color: #673ab7 !important; }

.w3-red, .w3-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important; }

.w3-sand, .w3-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important; }

.w3-teal, .w3-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important; }

.w3-yellow, .w3-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important; }

.w3-white, .w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important; }

.w3-black, .w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important; }

.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important; }

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important; }

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important; }

.w3-pale-red, .w3-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important; }

.w3-pale-green, .w3-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important; }

.w3-pale-yellow, .w3-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important; }

.w3-pale-blue, .w3-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important; }

.w3-text-amber, .w3-hover-text-amber:hover {
  color: #ffc107 !important; }

.w3-text-aqua, .w3-hover-text-aqua:hover {
  color: #00ffff !important; }

.w3-text-blue, .w3-hover-text-blue:hover {
  color: #2196F3 !important; }

.w3-text-light-blue, .w3-hover-text-light-blue:hover {
  color: #87CEEB !important; }

.w3-text-brown, .w3-hover-text-brown:hover {
  color: #795548 !important; }

.w3-text-cyan, .w3-hover-text-cyan:hover {
  color: #00bcd4 !important; }

.w3-text-blue-grey, .w3-hover-text-blue-grey:hover, .w3-text-blue-gray, .w3-hover-text-blue-gray:hover {
  color: #607d8b !important; }

.w3-text-green, .w3-hover-text-green:hover {
  color: #4CAF50 !important; }

.w3-text-light-green, .w3-hover-text-light-green:hover {
  color: #8bc34a !important; }

.w3-text-indigo, .w3-hover-text-indigo:hover {
  color: #3f51b5 !important; }

.w3-text-khaki, .w3-hover-text-khaki:hover {
  color: #b4aa50 !important; }

.w3-text-lime, .w3-hover-text-lime:hover {
  color: #cddc39 !important; }

.w3-text-orange, .w3-hover-text-orange:hover {
  color: #ff9800 !important; }

.w3-text-deep-orange, .w3-hover-text-deep-orange:hover {
  color: #ff5722 !important; }

.w3-text-pink, .w3-hover-text-pink:hover {
  color: #e91e63 !important; }

.w3-text-purple, .w3-hover-text-purple:hover {
  color: #9c27b0 !important; }

.w3-text-deep-purple, .w3-hover-text-deep-purple:hover {
  color: #673ab7 !important; }

.w3-text-red, .w3-hover-text-red:hover {
  color: #f44336 !important; }

.w3-text-sand, .w3-hover-text-sand:hover {
  color: #fdf5e6 !important; }

.w3-text-teal, .w3-hover-text-teal:hover {
  color: #009688 !important; }

.w3-text-yellow, .w3-hover-text-yellow:hover {
  color: #d2be0e !important; }

.w3-text-white, .w3-hover-text-white:hover {
  color: #fff !important; }

.w3-text-black, .w3-hover-text-black:hover {
  color: #000 !important; }

.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
  color: #757575 !important; }

.w3-text-light-grey, .w3-hover-text-light-grey:hover, .w3-text-light-gray, .w3-hover-text-light-gray:hover {
  color: #f1f1f1 !important; }

.w3-text-dark-grey, .w3-hover-text-dark-grey:hover, .w3-text-dark-gray, .w3-hover-text-dark-gray:hover {
  color: #3a3a3a !important; }

.w3-border-amber, .w3-hover-border-amber:hover {
  border-color: #ffc107 !important; }

.w3-border-aqua, .w3-hover-border-aqua:hover {
  border-color: #00ffff !important; }

.w3-border-blue, .w3-hover-border-blue:hover {
  border-color: #2196F3 !important; }

.w3-border-light-blue, .w3-hover-border-light-blue:hover {
  border-color: #87CEEB !important; }

.w3-border-brown, .w3-hover-border-brown:hover {
  border-color: #795548 !important; }

.w3-border-cyan, .w3-hover-border-cyan:hover {
  border-color: #00bcd4 !important; }

.w3-border-blue-grey, .w3-hover-blue-grey:hover, .w3-border-blue-gray, .w3-hover-blue-gray:hover {
  border-color: #607d8b !important; }

.w3-border-green, .w3-hover-border-green:hover {
  border-color: #4CAF50 !important; }

.w3-border-light-green, .w3-hover-border-light-green:hover {
  border-color: #8bc34a !important; }

.w3-border-indigo, .w3-hover-border-indigo:hover {
  border-color: #3f51b5 !important; }

.w3-border-khaki, .w3-hover-border-khaki:hover {
  border-color: #f0e68c !important; }

.w3-border-lime, .w3-hover-border-lime:hover {
  border-color: #cddc39 !important; }

.w3-border-orange, .w3-hover-border-orange:hover {
  border-color: #ff9800 !important; }

.w3-border-deep-orange, .w3-hover-border-deep-orange:hover {
  border-color: #ff5722 !important; }

.w3-border-pink, .w3-hover-border-pink:hover {
  border-color: #e91e63 !important; }

.w3-border-purple, .w3-hover-border-purple:hover {
  border-color: #9c27b0 !important; }

.w3-border-deep-purple, .w3-hover-border-deep-purple:hover {
  border-color: #673ab7 !important; }

.w3-border-red, .w3-hover-border-red:hover {
  border-color: #f44336 !important; }

.w3-border-sand, .w3-hover-border-sand:hover {
  border-color: #fdf5e6 !important; }

.w3-border-teal, .w3-hover-border-teal:hover {
  border-color: #009688 !important; }

.w3-border-yellow, .w3-hover-border-yellow:hover {
  border-color: #ffeb3b !important; }

.w3-border-white, .w3-hover-border-white:hover {
  border-color: #fff !important; }

.w3-border-black, .w3-hover-border-black:hover {
  border-color: #000 !important; }

.w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray, .w3-hover-border-gray:hover {
  border-color: #9e9e9e !important; }

.w3-border-light-grey, .w3-hover-border-light-grey:hover, .w3-border-light-gray, .w3-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important; }

.w3-border-dark-grey, .w3-hover-border-dark-grey:hover, .w3-border-dark-gray, .w3-hover-border-dark-gray:hover {
  border-color: #616161 !important; }

.w3-border-pale-red, .w3-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important; }

.w3-border-pale-green, .w3-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important; }

.w3-border-pale-yellow, .w3-hover-border-pale-yellow:hover {
  border-color: #ffffcc !important; }

.w3-border-pale-blue, .w3-hover-border-pale-blue:hover {
  border-color: #e7ffff !important; }
