{{ partial "header.html" . }}
	<div id="post-index" class="container">

		<main class="content" role="main">

			<div class="post-list">
				<div id="push">

			{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

			{{ range $index, $page := $paginator.Pages }}
			  {{ .Render "li" }}
			{{ end }}

				</div>
			</div>

			{{ partial "pagination.html" $paginator }}

		</main>

	</div>

{{ partial "footer.html" . }}
